{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Account Email Sent' %} {% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6  mx-auto">
            <h3 class="mb-4">{% trans 'Account email sent' %}</h3>
            <p>{% trans 'Check your email for instructions to activate your account' %}.</p>
        </div>
        <a href="{% url 'store:home' %}"> {% trans 'Home page' %} </a>
    </div>
</div>

{% endblock %}