{% extends 'base.html' %} 
{% load static %} 
{% block title %} Delivery Address {% endblock %}

{% block content %} 
<div class="container">
    <div class="col-12">
        <h1 class="h2">Delivery Address</h1>
    </div>
    <div class="col-12">
        <p>Please select your delivery address</p>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row g-3"> 
        {% if  addresses|length == 0 %} 
        <div class="col-12"> There are no delivery addresses, You cand add address   <a href="{% url 'account:add_address' %}"> here</a>.</div>
        {% else %} 
        {% for address in addresses %} 
        <div class="col-md-4 col-lg-4 order-md-last p-0 order-3">
            {{ address.is_default}}
        </div>
        {% endfor %} 
        {% endif %}
    </div>
</div>
{% endblock %} 