{% extends 'base.html' %}
{% block title %}Filtering{% endblock %}
{% block content %}

<ul class="nav justify-content-center">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Categories
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% for category in categories %}
      <li><a class="dropdown-item" href="{% url 'store:category_list' category.slug %}">{{ category }}</a></li>


      {% endfor %}
    </ul>
    
  </div>

 
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <form class="d-flex" action="{% url 'store:filter' %}" method="get">
    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</ul>
{% load static %}
			<h3 class="mb-4 border-bottom pb-1">Filters</h3>
			<!-- Price Filter -->
			<div class="card mb-4">
				<h6 class="card-header">Price</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">
						<input type="range" value="{{minMaxPrice.price__min}}" max={{minMaxPrice.price__max}} min={{minMaxPrice.price__min}} id="rangeInput" oninput="maxPrice.value=this.value" />
						<p>{{minMaxPrice.price__min}}-{{minMaxPrice.price__max}}</p>
					</li>
					<li class="list-group-item">
						Max: <input type="number" value="{{minMaxPrice.price__min}}" max={{minMaxPrice.price__max}} min={{minMaxPrice.price__min}} class="form-control" id="maxPrice" onkeyup="rangeInput.value=this.value" id="maxPrice" />
						<button id="priceFilterBtn" class="btn btn-info btn-sm mt-1">Filter</button>
					</li>
				</div>
			</div>
			<!-- Filter 1 -->
			<div class="card mb-4">
				<h6 class="card-header">Colors</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="color" value="{{color.color__id}}" type="checkbox" />&nbsp;
						<button class="btn" style="background-color:red; margin-top: -5px;"></button>
					</li>
				</div>
			</div>
			<!-- Filter 2 -->
			<div class="card mb-4">
				<h6 class="card-header">Categories</h6>
				<div class="list-group list-group-flush">
					
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="category" value="{{cat.category__id}}" type="checkbox" />&nbsp;
						clothing
					</li>
				</div>
			</div>
			<!-- Filter 3 -->
			<div class="card mb-4">
				<h6 class="card-header">Brands</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="brand" value="1" type="checkbox" />&nbsp;
						livenston
					</li>
				</div>
			</div>
			<!-- Filter 3 -->
			<div class="card mb-4">
				<h6 class="card-header">Sizes</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="size" value="{{size.size__id}}" type="checkbox" />&nbsp;
						12xxl
					</li>
				</div>
			</div>
<div class="container" style="max-width: 1000px">
   <div class="col-12">
     <h1 class="h2">{{ category.name|title}}</h1>
   </div>
   <div class="col-12 d-flex justify-content-between">
     <div><b>Popular</b> products purchased</div>
     
   </div>
   <hr />
</div>

  <div class="container">
    <div class="row">
      <div class="album">
        {% if not products %} 
        <div class="col-12">There are currently no products active <a href="{% url 'store:home' %}">  Home </a></div>
      {% else %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

          {% for product in products %}

          <div class="col">
            <div class="card border-0">
              {% for image in product.product_image.all %}
                {% if image.is_feature %}
                <img class="img-fluid" alt="{{ image.image.alt_text }}" src="{{ image.image.url }}">
                {% endif %}
                {% endfor %}
              <div class="card-body px-0">
                <p class="card-text">
                  <a class="text-dark text-decoration-none"
                    href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">£{{product.regular_price}}</small>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
          {% endif %}

        </div>
      </div>
    </div>



    
  </div>



  
<script>
  $(document).ready(function(){
    $(".filter-checkbox").on('click',function(){
      var _filterObj={};
      $(".filter-checkbox").each(function(index,ele){
        var _filterVal=$(this).val();
        var _filterKey=$(this).data('filter');
        console.log(_filterKey,_filterVal);
      });
    });
  });
</script>

{% endblock %}