{% extends 'base.html' %}
{% block title %}Filtering{% endblock %}
{% block content %}
<ul class="nav justify-content-center">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Categories
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% for category in categories %}
      <li><a class="dropdown-item" href="{% url 'store:category_list' category.slug %}">{{ category }}</a></li>


      {% endfor %}
    </ul>
    
  </div>

 
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <form class="d-flex" action="{% url 'store:filter' %}" method="get">
    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</ul>
{% load static %}
			<h3 class="mb-4 border-bottom pb-1">Filters</h3>
      <h2 id="filteredProd">Loading</h2>
			<!-- Price Filter -->
			<div class="card mb-4">
				<h6 class="card-header">Price</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">
						<input type="range" value="0" max={{max.max}} min=0 id="rangeInput" oninput="maxPrice.value=this.value" />
						<p>0-{{max.max}}</p>
					</li>
					<li class="list-group-item">
						Max: <input type="number" value="0" max={{max.max}} min=0 class="form-control" id="maxPrice" onkeyup="rangeInput.value=this.value" id="maxPrice" />
						<button id="priceFilterBtn" class="btn btn-info btn-sm mt-1">Filter</button>
					</li>
				</div>
			</div>
			<!-- Filter 1 -->
			<!-- <div class="card mb-4">
				<h6 class="card-header">Colors</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="color" value="43" type="checkbox" />&nbsp;
						<button class="btn" style="background-color:red; margin-top: -5px;"></button>
					</li>
				</div>
			</div> -->
			<!-- Filter 2 -->
			<div class="card mb-4">

				<h6 class="card-header">Categories</h6>
				<div class="list-group list-group-flush">
          {% for category in categories %}

					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="category" value="{{category.id}}" type="checkbox" />&nbsp;
						{{category}}
					</li>
          {% endfor %}

				</div>
			</div>
			<!-- Filter 3 -->
			<div class="card mb-4">
				<h6 class="card-header">Product Type</h6>
				<div class="list-group list-group-flush">
          {% for type in product_types %} 
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="type" value="{{type.id}}" type="checkbox" />&nbsp;
						{{type}}
					</li>
          {% endfor %}
				</div>
			</div>
			<!-- Filter 3 -->
			<!-- <div class="card mb-4">
				<h6 class="card-header">Sizes</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="size" value="12" type="checkbox" />&nbsp;
						12xxl
					</li>
          <li class="list-group-item">
						<input class="filter-checkbox" data-filter="size" value="22" type="checkbox" />&nbsp;
						1ml
					</li>
				</div>
			</div> -->
<div class="container" style="max-width: 1000px">
   <div class="col-12">
     <h1 class="h2">{{ category.name|title}}</h1>
   </div>
   <div class="col-12 d-flex justify-content-between">
     <div><b>Popular</b> products purchased</div>
     
   </div>
   <hr />
</div>

  <div class="container filteredProd2">
    {% include 'products_filter.html' %} 
  </div>



  
<script>
$("#maxPrice").on('blur',function(){
  var _min=$(this).attr('min');
  var _max=$(this).attr('max');
  var _value=$(this).val();
  if(_value < parseInt(_min) || _value > parseInt(_max)){
    alert("Values should be" +_min + "-" + _max );
    $(this).val(_min);
    $(this).focus()
    $("#rangeInput").val(_min);
    return false;
  }
})

  $(document).ready(function(){
    $('#filteredProd').hide()
    $(".filter-checkbox, #priceFilterBtn").on('click',function(){
      var _filterObj={};
      var _maxPrice = $('#maxPrice').val()
      _filterObj.maxPrice = _maxPrice

      $(".filter-checkbox").each(function(index,ele){
        var _filterVal=$(this).val();
        var _filterKey=$(this).data('filter');
        _filterObj[_filterKey] = Array.from(document.querySelectorAll('input[data-filter='+_filterKey+']:checked')).map(function(el){
          return el.value
        })
      });
      console.log(_filterObj)
      $.ajax({
        url: '{% url "store:filter_data" %}',
        data: _filterObj,
        dataType:'json',
        beforeSend:function(){
          $('#filteredProd').show()
        },
        success:function(res){
          console.log(res)
          $('.filteredProd2').html(res.data);
          $('#filteredProd').hide()

        }
      })
    });
  });
</script>

{% endblock %}