{% extends 'base.html' %}
{% load i18n %}
{% block title %}Filtering{% endblock %}
{% block content %}


<ul class="nav justify-content-center">
  <form class="d-flex" action="{% url 'store:filter' %}" method="get">
    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">{% trans "Search" %}</button>
  </form>
</ul>

			<h3 class="mb-4 border-bottom pb-1">{% trans "Filters" %}</h3>
      <h2 id="filteredProd">Loading</h2>
			<!-- Price Filter -->
			<div class="card mb-4">
				<h6 class="card-header">{% trans "Price" %}</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">
						<input type="range" value="{{min_max.min}}" max={{min_max.max}} min={{min_max.min}} id="rangeInput" oninput="maxPrice.value=this.value" />
						<p>{{min_max.min}}-{{min_max.max}}</p>
					</li>
					<li class="list-group-item">
						Max: <input type="number" value="{{min_max.max}}" max={{min_max.max}} min={{min_max.min}} class="form-control" id="maxPrice" onkeyup="rangeInput.value=this.value"  />
						<button id="priceFilterBtn" class="btn btn-info btn-sm mt-1">{% trans "Filter" %}</button>
					</li>
				</div>
			</div>

      <div class="card mb-4">

				<h6 class="card-header">{% translate "Time" %}</h6>
				<div class="list-group list-group-flush">
          <ul>
            <li>
              <input class="filter-checkbox"  type="radio" data-filter="time"  value="7">
              {% trans "last week" %}
            </li>
            <li>
              <input class="filter-checkbox" type="radio" data-filter="time"  value="14">
              {% trans "last two weeks" %}
            </li>
            <li>
              <input class="filter-checkbox" type="radio" data-filter="time"  value="30">
              {% trans "last month" %}
            </li>
          </ul>

				</div>
			</div>
      
			<!-- Filter 1 -->
			<!-- <div class="card mb-4">
				<h6 class="card-header">Colors</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="color" value="43" type="checkbox" />&nbsp;
						<button class="btn" style="background-color:red; margin-top: -5px;"></button>
					</li>
				</div>
			</div> -->
			<!-- Filter 2 -->
			<div class="card mb-4">

				<h6 class="card-header">{% trans "Categories" %}</h6>
				<div class="list-group list-group-flush">
          {% for category in categories %}

					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="category" value="{{category.id}}" type="checkbox" />&nbsp;
						{{category}}
					</li>
          {% endfor %}

				</div>
			</div>
			<!-- Filter 3 -->
			<div class="card mb-4">
				<h6 class="card-header">{% trans "Product Type" %}</h6>
				<div class="list-group list-group-flush">
          {% for type in product_types %} 
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="type" value="{{type.id}}" type="checkbox" />&nbsp;
						{{type}}
					</li>
          {% endfor %}
				</div>
			</div>
			<!-- Filter 3 -->
			<!-- <div class="card mb-4">
				<h6 class="card-header">Sizes</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">
						<input class="filter-checkbox" data-filter="size" value="12" type="checkbox" />&nbsp;
						12xxl
					</li>
          <li class="list-group-item">
						<input class="filter-checkbox" data-filter="size" value="22" type="checkbox" />&nbsp;
						1ml
					</li>
				</div>
			</div> -->
<div class="container" style="max-width: 1000px">
   <div class="col-12">
     <h1 class="h2">{{ category.name|title}}</h1>
   </div>
   <div class="col-12 d-flex justify-content-between">
     <div><b>{% trans "Popular" %}</b> {% trans "products purchased" %}</div>
     
   </div>
   <hr />
</div>

  <div class="container filteredProd2">
    {% include 'products_filter.html' %} 
  </div>



  
<script>
$("#maxPrice").on('blur',function(){
  var _min=$(this).attr('min');
  var _max=$(this).attr('max');
  var _value=$(this).val();
  if(_value < parseInt(_min) || _value > parseInt(_max)){
    alert("Values should be " +_min + "-" + _max );
    $(this).val(_min);
    $(this).focus()
    $("#rangeInput").val(_min);
    return false1
  }
})

  $(document).ready(function(){
    $('#filteredProd').hide()
    $(".filter-checkbox, #priceFilterBtn", ).on('click',function(){
      var _filterObj={};
      var _minPrice = $("#maxPrice").attr('min')
      var _maxPrice = $('#maxPrice').val()
      _filterObj.minPrice = _minPrice
      _filterObj.maxPrice = _maxPrice
      $(".filter-checkbox").each(function(index,ele){
        var _filterVal=$(this).val();
        var _filterKey=$(this).data('filter');
        _filterObj[_filterKey] = Array.from(document.querySelectorAll('input[data-filter='+_filterKey+']:checked')).map(function(el){
          return el.value
        })
      });
      console.log(_filterObj)
      $.ajax({
        url: '{% url "store:filter_data" %}',
        data: _filterObj,
        dataType:'json',
        beforeSend:function(){
          $('#filteredProd').show()
        },
        success:function(res){
          console.log(res)
          $('.filteredProd2').html(res.data);
          $('#filteredProd').hide()

        }
      })
    });
  });
</script>

{% endblock %}