{% extends "sub_base.html" %}
{% load  i18n %}
{% block title %}{% trans 'Reset Confirm' %}{% endblock %}
{% block subcontent %}


                            <form class="login-form p-4 " method="post">
                                {% csrf_token %}
                                <h3 class="h4 mb-4 font-weight-bold">{% trans 'Change your password</h3>
                                <p>Use the form below to change your password' %}.</p>

                                {% if form.errors %}
                                <div class="alert alert-primary" role="alert">
                                    {% trans 'Error' %}: {% trans 'Please try again' %}!
                                </div>
                                {% endif %}

                                <label class="small font-weight-bold">{{ form.new_password1.label}}</label>
                                {{ form.new_password1 }}
                                <label class="small font-weight-bold">{{ form.new_password2.label}}</label>
                                {{ form.new_password2 }}
                                <ul>
                                    <li>{% trans 'Your password can't be too similar to your other personal information' %}.</li>
                                    <li>{% trans 'Your password must contain at least 8 characters' %}.</li>
                                    <li>{% trans 'Your password can't be a commonly used password' %}.</li>
                                    <li>{% trans 'Your password can't be entirely numeric' %}.</li>
                                </ul>
                                <button class="btn btn-primary btn-block py-2 mb-4 mt-5" type="submit"
                                    value="Change">{% trans 'Submit' %}
                                </button>
                            </form>
                    
                 
{% endblock %}